<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>JongTest</title>
        <link rel="icon" href="/favicon.ico?v=2" />
        <link rel="stylesheet" href="/styles.css" media="screen" title="no title">
    </head>
    <body>
        <div ng-controller="testController">
            <p>Discards:
                <span ng-show="discards" class="hand ng-class: tile" ng-repeat="tile in discards">{{tile.suit}} {{tile.value}}</span>
            </p>
            <p>Most Recent Discard:
                <span ng-show="discarded" class="hand ng-class: tile">{{discarded.suit}} {{discarded.value}}</span>
            </p>
            <h3 ng-show="timer">{{timer}}</h3>
            <h3 ng-show="yourTurn">Your turn!</h3>
            <div ng-show="canPick">
                <button ng-show="pungable" ng-click="pickup()">Pung!</button>
                <div ng-repeat="runs in eats">
                    <div class="hand ng-class: tile" ng-repeat="tile in runs">{{tile.value}} {{tile.suit}}</div>
                </div>
                <button ng-show="eatable" ng-click="pickup()">Eat!</button>
            </div>
            <p>Your Tiles:
                <div id="hand">
                    <div ng-click="discard($index)" class="hand ng-class: tile" ng-repeat="tile in hand">{{tile.value}} {{tile.suit}}</div>
                </div>
            </p>
            <p ng-show="yourTurn">Your Draw: <div ng-click="discard(draw)" ng-show="yourTurn" class="tile">{{draw.suit}} {{draw.value}}</div></p>
            <p>Players Connected: {{players}}</p>
            <button ng-show="gameFullNotStarted(players)" ng-click="startGame()">Start Game</button>
        </div>
        <script type ="text/javascript" src="socket.io/socket.io.js"></script>
        <script type="text/javascript" src="angular/angular.js"></script>
        <script type="text/javascript" src="angular-socket-io/socket.js"></script>
        <script src="angular-cookies/angular-cookies.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>
