.tile {
    overflow: hidden;
    width: 60px;
    height: 80px;
    border: 1px solid black;
    border-radius: 5px;
}
.hand {
    list-style: none;
    display: inline-block;
}
.pickupButt {
    overflow: hidden;
    background: white;
    border: 5px solid red;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}
